#div1{
    background-color: indigo;
    font-style: italic;
    color: white;
    height:50% ;
    width:80% ;
    max-height: 400px;
    max-width: 500px;
    min-width: 1000px;
    min-height: 200px;
}